.App-logo{
    width: 170px;
    height: 60px;
}
.navdta{
    font-size: 17px;
    font-weight: 500;
}
.navdta:hover{
    color: rgba(250,93,0,100%);
    cursor: pointer;
}
#reg{
    background-color: rgba(250,93,0,100%);
    color: white;
}